@use 'config';

@media only screen and (min-width:768px) {

    body {
        padding: 0;
        background-position: 0% 150%;
    }

    p {
        font-size : 2rem;
        text-align: left;
    }

    .container {
        margin-inline:9rem;

        .carousel {
            
            .button-block {
                width:7.25%;
                left: 69%;
                top: 74%;
            }


            ul.slider {
                .profile-card.slide {
                display: grid;
                grid-template-areas: "quote . pic";
                grid-template-columns: 44% 12% 44%;
                background-size: 60%;
                background-position: 100% 0;
                align-items: center;
                justify-content: center;
                width:100%;
                height: 90vh;
            
    
                figure {
                    width:60%;
                    margin-top: 1rem;
                }
    
                .pic {
                    grid-area: 1/2/2/4;
                }
        
                .quote {
                    grid-area: 1/1/1/3;
                    z-index:2;
    
                    hgroup{
                       display: flex;
                       gap:1rem;
    
                       h3 {
                        font-size: 1.25rem;
                       }
                    }
                    
                blockquote {
                       padding-top: 4rem;
                       background-position: 20% 0;
                        
                    }
                }
        
                .profile-image {
                    width: 120%;
                    display: block;
                    margin-left:-65%;
                    position: relative;
                    left:50%
                }
        
               
        
            }

        }

    }

    }

}