@use "config";

@media only screen and (min-width: 536px) {
  body {
    padding: 0;
    background-position: 0% 150%;
    overflow: auto;
  }

  p {
    font-size: 2rem;
    text-align: left;
  }

  .container {
    .carousel {
      width: 100%;

      .button-block {
        width: 7.25%;
        left: 69%;
      }

      ul.slider {
        .profile-card {
          display: grid;
          grid-template-areas: "quote . pic";
          grid-template-columns: 44% 12% 44%;
          background-size: 48%;
          background-position: 84% 0;
          align-items: center;
          justify-content: center;
          padding: 3rem 6rem 3rem 9rem;

          figure {
            width: 60%;
            margin-top: 1rem;
          }

          .pic {
            grid-area: 1/2/2/4;
          }

          .quote {
            grid-area: 1/1/1/3;
            z-index: 2;

            hgroup {
              display: flex;
              gap: 1rem;

              h3 {
                font-size: 1.25rem;
              }
            }

            blockquote {
              padding-top: 4rem;
              background-position: 20% 0;
            }
          }

          .profile-image {
            width: 115%;
            display: block;
            margin-left: -65%;
            position: relative;
            left: 50%;
          }
        }
      }
    }
  }

  footer {
    padding-block: 1rem;
    .attribution {
      span {
        display: inline;
        padding-inline: 0.25rem;
      }
    }
  }
}
