@use "config";
@use "utilities";
@use "buttons";

/* ---------- MOBILE FIRST STYLES REALLY ----------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/images/pattern-curve.svg");
  background-size: 100%;
  background-repeat: repeat-x;
  background-position: 50% 100%;
  font-family: config.$font-stack;
  line-height: 1.6;
  color: config.$primary-color;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

p {
  margin-block: 0 1rem;
  font-size: 1rem;
  line-height: 1.25;
}

a:link,
a:visited {
  text-decoration: none;
}

.container {
  overflow: hidden;
}

// OUTSIDE CAROUSEL DIV
.carousel {
  width: 100vw;
  margin-block: 32px 0;
  height: 90%;
  position: relative;
  padding: 0rem;
  overflow: hidden;

  .button-block {
    width: 15%;
    display: flex;
    position: absolute;
    left: 50%;
    z-index: 200;
    margin-left: calc(-7.5% - 0.75rem);
    border-radius: 50px;
    box-shadow: 0px 25px 50px rgba(106, 89, 139, 0.7);
    background-color: transparent;

    button {
      padding: 0.75rem 0.95rem;
      border: none;
      background-color: white;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: #d4d4d2;
        transition: background-color 100ms ease-in-out;
      }

      &:focus {
        outline: 1px solid white;
      }

      &:nth-child(1) {
        padding: 1rem 1.5rem 1rem 1rem;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      }

      &:nth-child(2) {
        padding: 1rem 1rem 1rem 1.5rem;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }

      img {
        object-fit: contain;
        object-position: center;
        vertical-align: middle;
      }
    }
  }

  ul.slider {
    width: max-content;
    display: flex;
    flex-direction: row;
    height: 100%;
    top: 0;
    left: 0;
    list-style: none;

    .profile-card {
      width: 100vw;
      display: grid;
      grid-template-areas:
        "pic"
        "quote";

      background-image: url("../assets/images/pattern-bg.svg");
      background-size: 96%;
      background-repeat: no-repeat;
      background-position: 50% 0;

      padding: 2rem 3rem 2rem;
      border-radius: 10px;
      font-weight: 300;
      text-align: center;

      .pic {
        grid-area: pic;

        figure {
          box-shadow: 0px 25px 50px rgba(106, 89, 139, 0.7);
          width: 69%;
          margin: 0 auto 2rem;
          text-align: center;

          .profile-image {
            width: 130%;
            height: auto;
            display: block;
            margin-left: -65%;
            position: relative;
            left: 50%;
            object-fit: cover;
          }
        }
      }
      .quote {
        display: grid;
        grid-template-areas: "profile-testimonial" "profile-header";
        grid-area: quote;

        hgroup {
          grid-area: profile-header;

          h2 {
            color: config.$secondary-color;
            font-size: 1.25rem;
          }

          h3 {
            font-weight: 500;
            color: lighten(config.$secondary-color, 40%);
          }
        }

        blockquote {
          grid-area: profile-testimonial;
          background-image: url("../assets/images/pattern-quotes.svg");
          background-size: 20%;
          background-repeat: no-repeat;
          background-position: 50% 0;
          padding-block: 2rem 1rem;
        }
      }
    }
  }
}

footer {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;

  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: #8768d1;
    }

    span {
      display: block;
    }
  }
}

@import "desktop";
